article{
    float: left;
    width: 80%; /*Ширина списка относительно экрана*/
    background: linear-gradient(rgb(34, 222, 247) 37%, rgb(26, 144, 160)); /*Цвет фона, выполненный линейным градиентом*/
    border: 5px solid #0099ff; /* Ширина и цвет обводки */
    border-radius: 1.2em; /* Закругление углов */
    position: relative; /*Метод расположения элемента*/
    
    left: 10%; /* Для расположения по центру: (100% - article{width})/2 */
    text-align: center; /*расположение текста*/
    font-size: calc(4px + 64 * (100vw / 1920)); /*Размер текста, адаптируемый под ширину экрана(окна просмотра)*/
}
nav{ /* Меню навигации для будущих обновлений */
    display: none; /* Нереализовано и отключено для показа */
}
input[type="text"] { /* Стиль окна ввода */
    width: 45%; /* Длина, относительно блока */
    padding: 1.5%; /* Высота */
    background-color: #85b4eb86; /*Фоновый цвет*/
    border: 2px solid #000000e0; /*Ширина и цвет обводки*/
    border-radius: 1.2em; /*закругление углов*/
    font-size: 16px; /* Размер шрифта */
 }
 ::placeholder{ /*Стиль текста в окне ввода*/
    text-align: center; /*расположение текста*/
    font-size: 16px; /*размер шрифта*/
    font-weight: 800; /* степень толщины(жирности) */
 }
ol{ /*Стиль списка*/
    display:flex; /*Тип отображения элемента*/
    flex-direction: column-reverse; /*задаёт расположение элементов в списке(в обратном порядке)*/
    list-style-type: none; /*Отключает буллиты(элементы в виде точек и чисел) в списке*/
    text-align: center; /*Расположение текста*/
    font-size: calc(8px + 32 * (100vw / 1920)); /*Размер текста, адаптируемый под ширину экрана(окна просмотра)*/
}
ol li { /*Стиль элементов списка*/
    margin-bottom: 2%; /* расстояние между элементами в списке */
}


